<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Relatório de pedidos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<style>
  .styled-table {
    width: 100%;
    font-size: 12px;
    font-family: sans-serif;
    {{!-- box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); --}}
}
.styled-table thead tr {
    background-color: #cc0000;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.styled-table th,
.styled-table td {
    padding: 6px 0px;
}
{{!-- .styled-table tbody tr {
    border-bottom: 1px solid #a0a0a0;
} --}}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #d0d0d0;
}

</style>

<body>
    <h5 style="margin-top: 10px; text-align: center;">Relatório de pedidos</h5>
    <div style="font-size 10px; margin-bottom: 18px; text-align: center;">Data dos movimentos {{dataFormatada}}</div>
    <table class="styled-table">
        <thead>
            <tr>
                <th style="text-align: center;">N. Movimento</th>
                <th style="text-align: center;">Cliente</th>
                <th style="text-align: center;">Produto</th>
                <th style="text-align: center;">Descrição</th>
                <th style="text-align: center;">Quantidade</th>
                <th style="text-align: center;">Unidade</th>
                <th style="text-align: center;">Preço</th>
            </tr>
        </thead>
        <tbody>
            {{!-- Laço "for" no objeto movimentos, que passamos na função compile que foi implementada no controller --}}
            {{#each mov}}
            <tr>
                {{!-- Acessando o atributo do objeto pedidos --}}
                <td style="text-align: center;">{{id}}</td>
                <td style="text-align: center;">{{codcfo}}</td>
                <td style="text-align: center;">{{codigoAuxiliar}}</td>
                <td style="padding-left: 10px;">{{descricaoProduto}}</td>
                <td style="text-align: center;">{{quantidade}}</td>
                <td style="text-align: center;">{{unidade}}</td>
                <td style="text-align: center;">{{preco}}</td>
            </tr>
            {{!-- Fechando o laço "for" --}}
            {{/each}}
        </tbody>
    </table>
</body>

</html>
